#footer{
  background-color: $color-alt-dark;
  padding-top: 60px;
  padding-bottom: 80px;
  color: #fff;

  .social{
    color: $color-main;
    margin-bottom:40px;

    h3{
      font-size: 26px;
      text-transform: uppercase;
      font-weight: $font-weight-normal;
    }

    a{
      color: $color-main;
      font-size: 26px;
      margin-right:15px;

      &:hover,
      &:focus{
        color: #fff;
      }
    }
  }

  .contact{
    font-family: $font-family-sans;

    a{
      color: #fff;
      font-weight: $font-weight-normal;

      &:hover,
      &:focus{
        color: #fff;
        text-decoration: underline
      }
    }
  }

  .copyright{  
    font-family: $font-family-sans;

    a{
      color: $color-main;
      font-weight: $font-weight-normal;

      &:hover,
      &:focus{
        color: $color-main;
        text-decoration: underline;
      }
    }
  }
}

.footer-contact-form{
  h2{
    font-size:30px;
    color: #fff;
  }

  .form-control{
    background-color: transparent;
    border-color: #fff;
    border-radius: 0;
    color: #fff;
  }
}